@import "tailwindcss";

:root {
  --color-primary: #ff6600;
  --color-secondary: #EA580C;
  --color-accent: #22C55E;   
  --color-danger: #EF4444;    
  --color-bg: #F8FAFC;  
  --color-soft: #FFF7ED;       
}

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-danger: var(--color-danger);
  --color-bg: var(--color-bg);
  --color-soft: var(--color-soft);
}
